<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <a><img src="assets/images/utn.png" alt="" class="img-fluid"></a>
        </div>
    </div>

    <button *ngIf="!logueado" (click)="navigateLogin()" class="botonLogin">Ingresar</button>
    <button *ngIf="!logueado" (click)="navigateRegistro()" class="botonLogin">Registrarse</button>

    <div *ngIf="logueado">
        <label class="labelUsuario">{{usuarioLogueado.nombre}}</label>
    </div>

    <button *ngIf="logueado" (click)="signOut()" class="botonLogin">Desloguear</button>



</header><!-- End #header -->